<div id="checkout" data-hook>  
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
  
  <div class="row" data-hook="checkout_header">
    <h1 class="columns three alpha" data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
    <div class="columns thirteen omega" data-hook="checkout_progress"><%= checkout_progress %></div>
  </div>
  
  <div class="row">
    <p style="color:red; font-weight:bold; font-size:16px; text-align:center;"><%= Spree.t(:delivery_msg) %></p>
  </div>
  
  <div class="row" data-hook="checkout_content">
    <div class="columns <%= if @order.state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end %>" data-hook="checkout_form_wrapper">
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <% unless @order.email? %>
          <p class="field" style='clear: both'>
            <%= form.label :email %><br />
            <%= form.text_field :email %>
          </p>
        <% end %>
        <%= render @order.state, :form => form %>
      <% end %>
      <% if params && params[:state] == 'delivery' %>
        <%# @order.next if @order.state != 'payment'%>
        <%= form_for @order, :url => paypal_express_path(:payment_method_id => 12), :method => :post do |f| %>
          <div class="form-buttons" data-hook="buttons">
            <%= hidden_field_tag "order[payments_attributes][][payment_method_id]", 12 %>
            <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
          </div>
        <% end %>
      <% end %>

    </div>    
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega four">
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
    <% end %>
  </div>

</div>

<% if I18n.locale != :en %>
  <script src='/assets/jquery.validate/localization/messages_<%= I18n.locale %>.js'></script>
<% end %>
